        <div class="col-xs-3" style="background-color: orange;">
    <h2>User info</h2>
        <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-square pull-top profile-img", fallback: "no_image.jpg" %>
        <table>
            <tr>
             <th>name</th>
             <th><%= user.name %></th>  
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= user.introduction %></th>
            </tr>
        </table>
          <% if user.id == current_user.id %>
          <p>
            <%= link_to "", edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
          </p>
          <% else %>
          <p>
            <%= link_to "", user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench"  %>
          </p>
          <% end %>
          <h2>New book</h2>
          <%= form_for(book) do |f| %>
            <p>Title</p>
            <%= f.text_field :title, class: "form-control" %>
            <p>Opinion</p>
            <%= f.text_area :body, class: "form-control", rows:"2" %>
            <%= f.submit "Create Book", class: "btn btn-lg btn-block btn-base-1 mt-20" %>
          <% end %>
    </div>