<main>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Editing Book</h1>
        <div class="error">
        <% if @book.errors.any? %>
          <div id="error_explanation" style="color: red;">
          <h3><%= pluralize(@book.errors.count, "error") %> prohibited this obj being saved: </h3>
            <ul>
              <% @book.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= form_for(@book) do |f| %>
         <div class="edit">
            <div class="form">
              <div class="edit-text">
                <strong>Titel</strong>
              </div>
              <p><%= f.text_field :title, autofocus: true, class: 'col-xs-12'%></p>
            </div>
            <div class="form">
              <div class="edit-text">
                <strong>Opinion</strong>
              </div>
              <p><%= f.text_area :body, autosfocus: true, class: 'col-xs-12'%></p>
            </div>
            <div class="form">
              <%= f.submit "Update Book", class: 'btn btn-primary col-xs-12' %>
            </div>
         </div>
        <% end %>
        <p><%= link_to "Show", book_path %>|<%= link_to "Back", books_path %></p>

      </div>
    </div>
  </div>
  <%= render 'users/links'%>
</main>