<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="nav navbar-nav navbar-left">
        <span>Bookers</span>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to user_path(current_user), class: "nav-link active" do %>
              <span class="glyphicon glyphicon-home"></span> Home
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path, class: "nav-link active" do %>
             <span class="glyphicon glyphicon-user"></span> Users
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to books_path, class: "nav-link active" do %>
              <span class="glyphicon glyphicon-book"></span> Books
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link active" do %>
              <span class="glyphicon glyphicon-log-out"></span> logout
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link active" do %>
              <span class="glyphicon glyphicon-home"></span> Home
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "About", home_about_path, class:"nav-link active glyphicon glyphicon-link" %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: "nav-link active" do %>
              <span class="glyphicon glyphicon-edit"></span> sign up
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link active" do %>
              <span class="glyphicon glyphicon-log-in"></span> login
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </header>
<%= yield %>
</body>
</html>
